In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
# File to Load (Remember to Change These)
file_to_load = "Resources/reviews.csv"
# Read Purchasing File and store into Pandas data frame
review_data = pd.read_csv(file_to_load,encoding="utf8")
review_data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [17]:
review_clean = review_data.dropna()
review_clean.count()

listing_id       68222
id               68222
date             68222
reviewer_id      68222
reviewer_name    68222
comments         68222
dtype: int64

In [18]:
#drop comments
review_cln = review_clean.drop(['comments'],axis=1)
#convert to datetime
review_cln["date"]=pd.to_datetime(review_cln["date"])
review_cln

       listing_id        id       date  reviewer_id reviewer_name
0         1178162   4724140 2013-05-21      4298113       Olivier
1         1178162   4869189 2013-05-29      6452964     Charlotte
2         1178162   5003196 2013-06-06      6449554     Sebastian
3         1178162   5150351 2013-06-15      2215611        Marine
4         1178162   5171140 2013-06-16      6848427        Andrew
...           ...       ...        ...          ...           ...
68270     7462268  80537457 2016-06-18     22034145       Antonio
68271     7462268  83640094 2016-07-03     40052513         Steve
68272     7462268  85797088 2016-07-13     77129134          Nick
68273     7462268  97264637 2016-08-26     15799803           Vid
68274     7462268  98550693 2016-08-31     90128094       Arianna

[68222 rows x 5 columns]

In [19]:
#groupby listing_id
review_grouped = review_cln.groupby(['listing_id'])
review_grouped.head()

       listing_id        id       date  reviewer_id reviewer_name
0         1178162   4724140 2013-05-21      4298113       Olivier
1         1178162   4869189 2013-05-29      6452964     Charlotte
2         1178162   5003196 2013-06-06      6449554     Sebastian
3         1178162   5150351 2013-06-15      2215611        Marine
4         1178162   5171140 2013-06-16      6848427        Andrew
...           ...       ...        ...          ...           ...
68243     7462268  39468374 2015-07-23     13413108        Daniel
68244     7462268  39879632 2015-07-26     36144277        Carlos
68245     7462268  42736013 2015-08-15     39342838       Krysten
68246     7462268  43471157 2015-08-19     37540760            Yi
68247     7462268  44007798 2015-08-23     39471312        Daniel

[11363 rows x 5 columns]

In [20]:
#for fun, lets do some counts
review_count = review_grouped.count()
review_count.sort_values(by=['id'],ascending=False)

             id  date  reviewer_id  reviewer_name
listing_id
66288       402   402          402            402
1497879     320   320          320            320
414419      312   312          312            312
31796       290   290          290            290
815639      281   281          281            281
...         ...   ...          ...            ...
13578911      1     1            1              1
1961034       1     1            1              1
13565471      1     1            1              1
13565466      1     1            1              1
13363171      1     1            1              1

[2829 rows x 4 columns]

In [21]:
# Store  Calendar CSV to DataFrame
calendar_csv = "Resources/calendar.csv"
calendar_df = pd.read_csv(calendar_csv,encoding="utf8")
calendar_df.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [22]:
calendar_df.rename(index=str,columns={"date":"date"},inplace=True)
# convert to datetime
calendar_df["date"]=pd.to_datetime(calendar_df["date"])

In [23]:
# convert to boolean
calendar_df["available"].replace(["t","f"], [True,False], inplace=True)

In [24]:
# remove dollar sign
calendar_df["price"] = calendar_df["price"].replace({'\$': '', ',': ''}, regex=True)
# convert the price column to numeric values 
calendar_df["price"] = pd.to_numeric(calendar_df["price"])
calendar_df.head()

   listing_id       date  available  price
0    12147973 2017-09-05      False    NaN
1    12147973 2017-09-04      False    NaN
2    12147973 2017-09-03      False    NaN
3    12147973 2017-09-02      False    NaN
4    12147973 2017-09-01      False    NaN

In [25]:
listings_file = "Resources/listings.csv"
listings_df = pd.read_csv(listings_file)
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [26]:
#merge listings and calendar
listings_calendar_df = listings_df.merge(calendar_df, left_on='id', right_on='listing_id')

#sanity check
listings_calendar_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,listing_id,date,available,price_y
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,moderate,f,f,1,NaN,12147973,2017-09-05,False,NaN
1,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,moderate,f,f,1,NaN,12147973,2017-09-04,False,NaN
2,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,moderate,f,f,1,NaN,12147973,2017-09-03,False,NaN
3,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,moderate,f,f,1,NaN,12147973,2017-09-02,False,NaN
4,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,f,moderate,f,f,1,NaN,12147973,2017-09-01,False,NaN

In [27]:
#choose only the necessary columns
cleaned_df = listings_calendar_df[["id", "listing_url", "name", "price_y", 
                                   "number_of_reviews", "review_scores_rating", 
                                   "date", "available", "summary", "neighbourhood",
                                  "latitude", "longitude", "property_type", "bedrooms",
                                  "beds"]]

#sanity check
cleaned_df.head()

,id,listing_url,name,price_y,number_of_reviews,review_scores_rating,date,available,summary,neighbourhood,latitude,longitude,property_type,bedrooms,beds
0,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,NaN,0,NaN,2017-09-05,False,"Cozy, sunny, family home. Master bedroom high...",Roslindale,42.282619,-71.133068,House,2.0,3.0
1,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,NaN,0,NaN,2017-09-04,False,"Cozy, sunny, family home. Master bedroom high...",Roslindale,42.282619,-71.133068,House,2.0,3.0
2,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,NaN,0,NaN,2017-09-03,False,"Cozy, sunny, family home. Master bedroom high...",Roslindale,42.282619,-71.133068,House,2.0,3.0
3,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,NaN,0,NaN,2017-09-02,False,"Cozy, sunny, family home. Master bedroom high...",Roslindale,42.282619,-71.133068,House,2.0,3.0
4,12147973,https://www.airbnb.com/rooms/12147973,Sunny Bungalow in the City,NaN,0,NaN,2017-09-01,False,"Cozy, sunny, family home. Master bedroom high...",Roslindale,42.282619,-71.133068,House,2.0,3.0

In [28]:
#drop na's
dropped_listings_df = cleaned_df.dropna(how='any', axis=0)

#sanity check
dropped_listings_df

,id,listing_url,name,price_y,number_of_reviews,review_scores_rating,date,available,summary,neighbourhood,latitude,longitude,property_type,bedrooms,beds
365,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,65.0,36,94.0,2017-08-22,True,Charming and quiet room in a second floor 1910...,Roslindale,42.286241,-71.134374,Apartment,1.0,1.0
366,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,65.0,36,94.0,2017-08-21,True,Charming and quiet room in a second floor 1910...,Roslindale,42.286241,-71.134374,Apartment,1.0,1.0
367,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,65.0,36,94.0,2017-08-20,True,Charming and quiet room in a second floor 1910...,Roslindale,42.286241,-71.134374,Apartment,1.0,1.0
368,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,75.0,36,94.0,2017-08-19,True,Charming and quiet room in a second floor 1910...,Roslindale,42.286241,-71.134374,Apartment,1.0,1.0
369,3075044,https://www.airbnb.com/rooms/3075044,Charming room in pet friendly apt,75.0,36,94.0,2017-08-18,True,Charming and quiet room in a second floor 1910...,Roslindale,42.286241,-71.134374,Apartment,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308518,14603878,https://www.airbnb.com/rooms/14603878,Great Location; Train and Restaurants,59.0,2,90.0,2016-09-12,True,"My place is close to Taco Loco Mexican Grill, ...",Somerville,42.385226,-71.080923,Apartment,1.0,1.0
1308519,14603878,https://www.airbnb.com/rooms/14603878,Great Location; Train and Restaurants,59.0,2,90.0,2016-09-11,True,"My place is close to Taco Loco Mexican Grill, ...",Somerville,42.385226,-71.080923,Apartment,1.0,1.0
1308520,14603878,https://www.airbnb.com/rooms/14603878,Great Location; Train and Restaurants,59.0,2,90.0,2016-09-10,True,"My place is close to Taco Loco Mexican Grill, ...",Somerville,42.385226,-71.080923,Apartment,1.0,1.0
1308521,14603878,https://www.airbnb.com/rooms/14603878,Great Location; Train and Restaurants,59.0,2,90.0,2016-09-09,True,"My place is close to Taco Loco Mexican Grill, ...",Somerville,42.385226,-71.080923,Apartment,1.0,1.0
1308522,14603878,https://www.airbnb.com/rooms/14603878,Great Location; Train and Restaurants,59.0,2,90.0,2016-09-08,True,"My place is close to Taco Loco Mexican Grill, ...",Somerville,42.385226,-71.080923,Apartment,1.0,1.0

In [29]:
#create database connection
connection = "postgres:postgres@localhost:5432/airbnb_db"
engine = create_engine(f'postgresql://{connection}')

In [30]:
#table names
engine.table_names()

['listings', 'reviews']

In [31]:
#load df into database
dropped_listings_df.to_sql(name='listings', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "summary" of relation "listings" does not exist
LINE 1: ...f_reviews, review_scores_rating, date, available, summary, n...
                                                             ^

[SQL: INSERT INTO listings (index, id, listing_url, name, price_y, number_of_reviews, review_scores_rating, date, available, summary, neighbourhood, latitude, longitude, property_type, bedrooms, beds) VALUES (%(index)s, %(id)s, %(listing_url)s, %(name)s, %(price_y)s, %(number_of_reviews)s, %(review_scores_rating)s, %(date)s, %(available)s, %(summary)s, %(neighbourhood)s, %(latitude)s, %(longitude)s, %(property_type)s, %(bedrooms)s, %(beds)s)]
[parameters: ({'index': 365, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 65.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 22, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 366, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 65.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 21, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 367, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 65.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 20, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 368, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 75.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 19, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 369, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 75.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 18, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 370, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 65.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 17, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 371, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 65.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 16, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 372, 'id': 3075044, 'listing_url': 'https://www.airbnb.com/rooms/3075044', 'name': 'Charming room in pet friendly apt', 'price_y': 65.0, 'number_of_reviews': 36, 'review_scores_rating': 94.0, 'date': datetime.datetime(2017, 8, 15, 0, 0), 'available': True, 'summary': "Charming and quiet room in a second floor 1910 condo building. The room has a full size bed, darkening curtains, window A/C unit. It's quiet because it's in the back of the house. Shared bathroom. Guests can use kitchen, living room. Pet friendly.", 'neighbourhood': 'Roslindale', 'latitude': 42.286240821867416, 'longitude': -71.13437396457161, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}  ... displaying 10 of 397694 total bound parameter sets ...  {'index': 1308521, 'id': 14603878, 'listing_url': 'https://www.airbnb.com/rooms/14603878', 'name': 'Great Location; Train and Restaurants', 'price_y': 59.0, 'number_of_reviews': 2, 'review_scores_rating': 90.0, 'date': datetime.datetime(2016, 9, 9, 0, 0), 'available': True, 'summary': "My place is close to Taco Loco Mexican Grill, Somerville Public Library, Mount Vernon Restaurant & Pub, Some 'Ting Nice Caribbean Restaurant, Vinny's ... (21 characters truncated) ... N.. Youâ€™ll love my place because of the comfy bed, the kitchen, the high ceilings AND CLEAN. , the coziness, the views. My place is good for couples.", 'neighbourhood': 'Somerville', 'latitude': 42.38522634694089, 'longitude': -71.0809226260808, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0}, {'index': 1308522, 'id': 14603878, 'listing_url': 'https://www.airbnb.com/rooms/14603878', 'name': 'Great Location; Train and Restaurants', 'price_y': 59.0, 'number_of_reviews': 2, 'review_scores_rating': 90.0, 'date': datetime.datetime(2016, 9, 8, 0, 0), 'available': True, 'summary': "My place is close to Taco Loco Mexican Grill, Somerville Public Library, Mount Vernon Restaurant & Pub, Some 'Ting Nice Caribbean Restaurant, Vinny's ... (21 characters truncated) ... N.. Youâ€™ll love my place because of the comfy bed, the kitchen, the high ceilings AND CLEAN. , the coziness, the views. My place is good for couples.", 'neighbourhood': 'Somerville', 'latitude': 42.38522634694089, 'longitude': -71.0809226260808, 'property_type': 'Apartment', 'bedrooms': 1.0, 'beds': 1.0})]
(Background on this error at: http://sqlalche.me/e/f405)

In [32]:
review_count.to_sql(name='reviews', con=engine, if_exists='append', index=True)

In [33]:
#query results to confirm data has been added
pd.read_sql_query('select * from reviews', con=engine).head()

   listing_id  id  date  reviewer_id  reviewer_name
0        3353  34    34           34             34
1        5506  36    36           36             36
2        6695  47    47           47             47
3        6976  41    41           41             41
4        8792  18    18           18             18

In [34]:
pd.read_sql_query('select * from listings', con=engine).head()

,index,id,listing_url,name,price_y,number_of_reviews,review_scores_rating,date,available
0,532900,414419,https://www.airbnb.com/rooms/414419,Back Bay! Best Location in Boston!,175.0,312,92.0,2017-09-05,True
1,247835,815639,https://www.airbnb.com/rooms/815639,MedaevalModernHaven in the NorthEnd,185.0,281,92.0,2017-09-05,True
2,106792,1136972,https://www.airbnb.com/rooms/1136972,Boston Room/Free Transit/ By Subway,70.0,280,96.0,2016-12-27,True
3,1088699,1584362,https://www.airbnb.com/rooms/1584362,Grace's Harborview Fast T Downtown,57.0,232,97.0,2017-09-05,True
4,1032849,1472520,https://www.airbnb.com/rooms/1472520,Andrea's Private Bath T Downtown,61.0,231,96.0,2017-09-05,True